.logos{
    width: 100%;
    background-color: white;
    padding: 3% 0;
    h1{
        text-align: center;
        font-size: 2vw;
        margin-bottom: 3%;

    }
    div{
        width: 70%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        img{
            width: 5vw;
            height: 2.5vw;
            &:nth-child(5){
                width: 8vw;
            }
        }
    }
}
// DCI-ABOUT
.dci-about{
    width: 100%;
    padding: 4% 0;
    background-color:rgba(230,239,255,1) ;
    div{
        width: 50%;
        margin: 0 auto;
        h1{
            font-size: 2vw;
            text-align: center;
            margin-bottom: 4%;
        }
        p{
            font-size: 1.3vw;
            margin-bottom: 4%;
        }
    }
    
}
// FOOTER
.footer{
    background-color: white;
    width: 100%;
    padding-top: 4%;
    
    .dci-numbers{
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        div{
            display: flex;
            flex-direction: column;
            text-align: center;
            h2{
                font-size: 1.5vw;
            }
            p{
                font-size: 1.2vw;
            }
        }
    }
    .footer-btn{
        text-align: center;
        padding: 2%;
        button{
            font-size: 1vw;
            padding: 1% 6%;
            background-color: rgb(255, 110,24, 1);
            color: white;
            font-weight: bold;
            border: none;
            outline: none;
            margin-right: 4%;

            
        }
    }
    .last-footer{
        width: 100%;
        background-color: rgba(4,8,60,1);
        display: flex;
        padding: 1% 0;
        div:nth-child(1){
            width: 50%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 5%;
            small{
                margin-left: 4%;
                font-size: 0.6vw;
            }
            img{
                width: 5vw;
                height: 5vw;
            }
        }
        div:nth-child(2){
            width: 50%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.7vw;
            a{
                color: white;
                margin-right: 1%;
                margin-left: 1%;
            }
        }
    }
    
}