.wd{
    width: 60%;
    margin: 0 auto;
    border-top: 1px solid #000;
    padding: 4%;
    
    .top-part{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1% 5%;
        .wd-text{
            width: 50%;
            display: flex;
            flex-direction: column;

            h1{
                font-size: 2vw;
                margin-bottom: 4%;
            }
            p{
                font-size: 1.3vw;
            }
        }
        .img{
            width: 50%;
            display: flex;
            justify-content: flex-end;

            img{
                height: 100%;
                width: 20vw;
            }
        }
    }
    .wd-courses{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 5%;
        position: relative;
       
        div{
            width: 48%;
            padding: 5%;
            background-color: white;
            margin-bottom: 4%;
            
           &:nth-child(1){
            position: relative;
            &::before{
                content: "";
                background-image: url(../images/blue-dots-baner-.png);
                background-repeat: no-repeat;
                background-size: 14vw;
                position: absolute;
                top: 62%;
                left: -22%;
                width: 20vw;
                height: 20vw;
                 z-index: -2;
            }
           }
           &:nth-child(2){
            position: relative;
            &::before{
                content: "";
                background-image: url(../images/red-dots-baner-.png);
                background-repeat: no-repeat;
                background-size: 14vw;
                position: absolute;
                top: -26%;
                left: 60%;
                width: 20vw;
                height: 20vw;
                 z-index: -2;
            }
           }
           &:nth-child(4){
               position: relative;
               &::before{
                content: "";
                background-image: url(../images/blue-red-dots.png);
                background-repeat: no-repeat;
                background-size: 14vw;
                position: absolute;
                top: 50%;
                left: 72%;
                width: 20vw;
                height: 20vw;
                 z-index: -2;
            }
           }
            h2{
                font-size: 1.5vw;
                margin-bottom: 4%;
            strong{
                color: blue;
                margin-right: 4%;
                font-size: 2vw;
            }           
            span{
                font-size: 2vw;
                margin-right: 4%;
            }
         }
         p{
             font-size: 1.3vw;
         }
        }
    }
    .become-dev{
        width: 60%;
        margin: 0 auto;
        text-align: center;
        p{
            font-size: 1.2vw;
        }
        button{
            background-color: rgb(255, 110,24, 1);
            font-size: 1.2vw;
            padding: 4% 6%;
            border: none;
            color: white;
            outline: none;
            margin-top: 5%;
            font-weight: bold;
        }
    }
}