header {
  background-color: white;
  width: 100%;
  height: 3vw;
}
header div {
  width: 27%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
header div img {
  width: 25%;
  height: 100%;
}

.baner {
  width: 60%;
  margin: 0 auto;
}
.baner .baner-img {
  position: relative;
  width: 100%;
  height: 24vw;
}
.baner .baner-img img {
  width: 100%;
  height: 100%;
}
.baner .baner-img h1 {
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
  font-size: 2.6vw;
  width: 40%;
}
.baner .middle {
  display: flex;
  justify-content: space-around;
  padding: 0 5%;
  position: relative;
}
.baner .middle::before {
  content: "";
  background-image: url(../images/blue-dots-baner-.png);
  background-repeat: no-repeat;
  background-size: 14vw;
  position: absolute;
  top: 17%;
  left: 0%;
  width: 10vw;
  height: 15vw;
  z-index: -2;
}
.baner .middle::after {
  content: "";
  background-image: url(../images/red-dots-baner-.png);
  background-repeat: no-repeat;
  background-size: 14vw;
  position: absolute;
  top: 52%;
  right: 46%;
  width: 14vw;
  height: 15vw;
  z-index: -2;
}
.baner .middle .states {
  width: 40%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2% 2%;
  transform: translate(0, -20%);
  box-shadow: 0 6px 8px gray;
}
.baner .middle .states .checked {
  display: flex;
  align-items: center;
  padding: 3% 0;
}
.baner .middle .states .checked img {
  width: 1.5vw;
  height: 1.5vw;
  margin-right: 4%;
}
.baner .middle .states .checked p {
  font-size: 1.2vw;
}
.baner .middle .states p {
  font-size: 1.3vw;
  margin-top: 4%;
  font-weight: bold;
  padding-left: 3%;
}
.baner .middle .states .countries {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  margin-top: 5%;
}
.baner .middle .states .countries div {
  border: 1px #e0e0e0 solid;
  display: flex;
  align-items: center;
  width: 47%;
  padding: 3% 1%;
  background-color: #f0f0f0;
  margin-bottom: 5%;
  box-shadow: 0 2px 7px gray;
  overflow: hidden;
}
.baner .middle .states .countries div a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: black;
  padding-left: 4%;
}
.baner .middle .states .countries div img {
  width: 1.6vw;
  height: 2.3vw;
}
.baner .middle .states .countries div p {
  font-weight: normal;
  margin-left: 10%;
  font-size: 1vw;
}
.baner .middle .right-side {
  width: 45%;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.baner .middle .right-side .images {
  display: flex;
  justify-content: space-around;
}
.baner .middle .right-side .images img {
  width: 5vw;
  height: 5vw;
}
.baner .middle .right-side .images img:nth-child(2) {
  width: 8vw;
  height: 5vw;
}
.baner .middle .right-side p {
  font-size: 1.4vw;
  text-align: center;
}

.wd {
  width: 60%;
  margin: 0 auto;
  border-top: 1px solid #b6b6b6;
  border-bottom: 1px solid #b6b6b6;
  padding: 4%;
}
.wd .top-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1% 5%;
}
.wd .top-part .wd-text {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.wd .top-part .wd-text h1 {
  font-size: 2vw;
  margin-bottom: 4%;
}
.wd .top-part .wd-text p {
  font-size: 1.3vw;
}
.wd .top-part .img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.wd .top-part .img img {
  height: 100%;
  width: 20vw;
}
.wd .wd-courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5%;
  position: relative;
}
.wd .wd-courses div {
  width: 48%;
  padding: 5%;
  background-color: white;
  margin-bottom: 4%;
  box-shadow: 2px 5px 6px gray;
}
.wd .wd-courses div:nth-child(1) {
  position: relative;
}
.wd .wd-courses div:nth-child(1)::before {
  content: "";
  background-image: url(../images/blue-dots-baner-.png);
  background-repeat: no-repeat;
  background-size: 14vw;
  position: absolute;
  top: 62%;
  left: -22%;
  width: 20vw;
  height: 20vw;
  z-index: -2;
}
.wd .wd-courses div:nth-child(2) {
  position: relative;
}
.wd .wd-courses div:nth-child(2)::before {
  content: "";
  background-image: url(../images/red-dots-baner-.png);
  background-repeat: no-repeat;
  background-size: 14vw;
  position: absolute;
  top: -26%;
  left: 60%;
  width: 20vw;
  height: 20vw;
  z-index: -2;
}
.wd .wd-courses div:nth-child(4) {
  position: relative;
}
.wd .wd-courses div:nth-child(4)::before {
  content: "";
  background-image: url(../images/blue-red-dots.png);
  background-repeat: no-repeat;
  background-size: 14vw;
  position: absolute;
  top: 50%;
  left: 72%;
  width: 20vw;
  height: 20vw;
  z-index: -2;
}
.wd .wd-courses div h2 {
  font-size: 1.4vw;
  margin-bottom: 4%;
}
.wd .wd-courses div h2 strong {
  color: blue;
  margin-right: 4%;
  font-size: 2vw;
}
.wd .wd-courses div h2 span {
  font-size: 2vw;
  margin-right: 4%;
}
.wd .wd-courses div p {
  font-size: 1.3vw;
}
.wd .become-dev {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.wd .become-dev p {
  font-size: 1.2vw;
}
.wd .become-dev button {
  background-color: #ff6e18;
  font-size: 1.2vw;
  padding: 4% 6%;
  border: none;
  color: white;
  outline: none;
  margin-top: 5%;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 5px 6px gray;
}
.wd .become-dev button:hover {
  opacity: 0.7;
}

.om {
  width: 60%;
  margin: 0 auto;
  padding: 4%;
}
.om .top-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1% 5%;
}
.om .top-part .om-text {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.om .top-part .om-text h1 {
  font-size: 2vw;
  margin-bottom: 4%;
}
.om .top-part .om-text p {
  font-size: 1.3vw;
}
.om .top-part .img {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.om .top-part .img img {
  height: 100%;
  width: 20vw;
}
.om .om-courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5%;
  position: relative;
}
.om .om-courses div {
  width: 48%;
  padding: 5%;
  background-color: white;
  margin-bottom: 4%;
  box-shadow: 2px 5px 6px gray;
}
.om .om-courses div:nth-child(1) {
  position: relative;
}
.om .om-courses div:nth-child(1)::before {
  content: "";
  background-image: url(../images/orange-dots-left.png);
  background-repeat: no-repeat;
  background-size: 14vw;
  position: absolute;
  top: -43%;
  left: -22%;
  width: 20vw;
  height: 20vw;
  z-index: -2;
}
.om .om-courses div:nth-child(2) {
  position: relative;
}
.om .om-courses div:nth-child(2)::before {
  content: "";
  background-image: url(../images/red-dots-baner-.png);
  background-repeat: no-repeat;
  background-size: 14vw;
  position: absolute;
  top: 65%;
  left: 68%;
  width: 20vw;
  height: 20vw;
  z-index: -2;
}
.om .om-courses div:nth-child(3) {
  position: relative;
}
.om .om-courses div:nth-child(3)::before {
  content: "";
  background-image: url(../images/ornage-dots-down.png);
  background-repeat: no-repeat;
  background-size: 14vw;
  position: absolute;
  top: 50%;
  left: -28%;
  width: 20vw;
  height: 20vw;
  z-index: -2;
}
.om .om-courses div h2 {
  font-size: 1.4vw;
  margin-bottom: 4%;
}
.om .om-courses div h2 strong {
  color: #ff6e18;
  margin-right: 4%;
  font-size: 2vw;
}
.om .om-courses div h2 span {
  font-size: 2vw;
  margin-right: 4%;
}
.om .om-courses div p {
  font-size: 1.3vw;
}
.om .become-om {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.om .become-om p {
  font-size: 1.5vw;
}
.om .become-om button {
  background-color: #ff6e18;
  font-size: 1.2vw;
  padding: 4% 6%;
  border: none;
  color: white;
  outline: none;
  margin-top: 5%;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 5px 6px gray;
}
.om .become-om button:hover {
  opacity: 0.7;
}

.logos {
  width: 100%;
  background-color: white;
  padding: 3% 0;
}
.logos h1 {
  text-align: center;
  font-size: 2vw;
  margin-bottom: 3%;
}
.logos div {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logos div img {
  width: 5vw;
  height: 2.5vw;
}
.logos div img:nth-child(5) {
  width: 8vw;
}

.dci-about {
  width: 100%;
  padding: 4% 0;
  background-color: #e6efff;
}
.dci-about div {
  width: 50%;
  margin: 0 auto;
}
.dci-about div h1 {
  font-size: 2vw;
  text-align: center;
  margin-bottom: 4%;
}
.dci-about div p {
  font-size: 1.3vw;
  margin-bottom: 4%;
}

.footer {
  background-color: white;
  width: 100%;
  padding-top: 4%;
}
.footer .dci-numbers {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer .dci-numbers div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer .dci-numbers div h2 {
  font-size: 1.5vw;
}
.footer .dci-numbers div p {
  font-size: 1.2vw;
}
.footer .footer-btn {
  text-align: center;
  padding: 2%;
}
.footer .footer-btn button {
  font-size: 1vw;
  padding: 1% 6%;
  background-color: #ff6e18;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  margin-right: 4%;
  cursor: pointer;
}
.footer .footer-btn button:hover {
  opacity: 0.7;
}
.footer .last-footer {
  width: 100%;
  background-color: #04083c;
  display: flex;
  padding: 1% 0;
}
.footer .last-footer div:nth-child(1) {
  width: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5%;
}
.footer .last-footer div:nth-child(1) small {
  margin-left: 4%;
  font-size: 0.6vw;
}
.footer .last-footer div:nth-child(1) img {
  width: 5vw;
  height: 5vw;
}
.footer .last-footer div:nth-child(2) {
  width: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7vw;
}
.footer .last-footer div:nth-child(2) a {
  color: white;
  margin-right: 1%;
  margin-left: 1%;
}

@media only screen and (max-width: 600px) {
  header {
    height: 10vw;
  }
  header div {
    padding: 2%;
  }
  header div img {
    width: 70%;
  }

  .baner {
    margin: 0;
    width: 100%;
  }
  .baner .baner-img {
    height: 40vw;
  }
  .baner .baner-img h1 {
    font-size: 4vw;
  }
  .baner .middle {
    flex-direction: column;
  }
  .baner .middle::before, .baner .middle::after {
    display: none;
  }
  .baner .middle .states {
    width: 70%;
    margin: 0 auto;
    transform: translate(0, -10%);
  }
  .baner .middle .states .checked img {
    width: 4vw;
    height: 4vw;
  }
  .baner .middle .states .checked p {
    font-size: 3.2vw;
  }
  .baner .middle .states p {
    font-size: 3.5vw;
  }
  .baner .middle .states .countries div {
    justify-content: center;
    align-items: center;
  }
  .baner .middle .states .countries div a {
    flex-direction: column;
    padding: 0;
  }
  .baner .middle .states .countries div img {
    width: 5vw;
    height: 8vw;
  }
  .baner .middle .states .countries div p {
    font-size: 2.5vw;
    text-align: center;
    margin-left: 6%;
  }
  .baner .middle .right-side {
    margin: 0 auto;
    width: 60%;
    height: 30vw;
  }
  .baner .middle .right-side .images {
    width: 100%;
    height: 100%;
  }
  .baner .middle .right-side .images img {
    width: 14vw;
    height: 14vw;
  }
  .baner .middle .right-side .images img:nth-child(2) {
    width: 17vw;
    height: 10vw;
  }
  .baner .middle .right-side p {
    font-size: 3vw;
  }

  .wd {
    width: 100%;
    margin: 7% 0;
  }
  .wd .top-part {
    padding: 1% 0%;
  }
  .wd .top-part .wd-text {
    padding: 0 2%;
  }
  .wd .top-part .wd-text h1 {
    font-size: 4vw;
  }
  .wd .top-part .wd-text p {
    font-size: 3vw;
  }
  .wd .top-part .img img {
    width: 100%;
  }
  .wd .wd-courses {
    flex-direction: column;
    align-items: center;
  }
  .wd .wd-courses div {
    width: 70%;
  }
  .wd .wd-courses div h2 {
    font-size: 3vw;
  }
  .wd .wd-courses div h2 strong {
    font-size: 4vw;
  }
  .wd .wd-courses div h2 span {
    font-size: 4vw;
  }
  .wd .wd-courses div p {
    font-size: 3vw;
  }
  .wd .wd-courses div:nth-child(1)::before {
    background-size: 25vw;
    width: 50%;
    height: 100%;
  }
  .wd .wd-courses div:nth-child(2)::before {
    background-image: url(../images/blue-dots-baner-.png);
    background-size: 30vw;
    width: 50%;
    height: 100%;
    margin-top: 70%;
  }
  .wd .wd-courses div:nth-child(4)::before {
    display: none;
  }
  .wd .become-dev {
    width: 70%;
  }
  .wd .become-dev p {
    font-size: 3vw;
  }
  .wd .become-dev button {
    font-size: 3vw;
  }

  .om {
    width: 100%;
    padding-bottom: 10%;
    padding-top: 0%;
  }
  .om .top-part {
    padding: 1% 0%;
  }
  .om .top-part .om-text {
    padding: 0 2%;
  }
  .om .top-part .om-text h1 {
    font-size: 4vw;
  }
  .om .top-part .om-text p {
    font-size: 3vw;
  }
  .om .top-part .img img {
    width: 100%;
  }
  .om .om-courses {
    flex-direction: column;
    align-items: center;
  }
  .om .om-courses div {
    width: 70%;
  }
  .om .om-courses div h2 {
    font-size: 3vw;
  }
  .om .om-courses div h2 strong {
    font-size: 4vw;
  }
  .om .om-courses div h2 span {
    font-size: 4vw;
  }
  .om .om-courses div p {
    font-size: 3vw;
  }
  .om .om-courses div:nth-child(1)::before {
    background-size: 25vw;
    width: 50%;
    height: 100%;
  }
  .om .om-courses div:nth-child(2)::before {
    background-size: 30vw;
    width: 50%;
    height: 100%;
    margin-top: 70%;
  }
  .om .om-courses div:nth-child(3)::before {
    display: none;
  }
  .om .become-om {
    width: 70%;
  }
  .om .become-om p {
    font-size: 3vw;
  }
  .om .become-om button {
    font-size: 3vw;
  }

  .logos h1 {
    font-size: 4vw;
  }
  .logos div {
    width: 80%;
  }
  .logos div img {
    width: 8vw;
    height: 5vw;
  }
  .logos div img:nth-child(5) {
    width: 12vw;
  }

  .dci-about div {
    padding: 0 4%;
    width: 100%;
  }
  .dci-about div h1 {
    font-size: 4vw;
  }
  .dci-about div p {
    font-size: 3vw;
  }

  .footer .dci-numbers {
    width: 70%;
  }
  .footer .dci-numbers div h2 {
    font-size: 3vw;
  }
  .footer .dci-numbers div p {
    font-size: 2.4vw;
  }
  .footer .footer-btn button {
    font-size: 2vw;
  }
  .footer .last-footer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
    text-align: center;
  }
  .footer .last-footer div:nth-child(1) {
    flex-direction: column;
    padding: 0 3%;
    width: 100%;
  }
  .footer .last-footer div:nth-child(1) small {
    font-size: 2.4vw;
  }
  .footer .last-footer div:nth-child(1) img {
    width: 12vw;
    height: 12vw;
  }
  .footer .last-footer div:nth-child(2) {
    width: 100%;
    font-size: 2vw;
  }
}
@media only screen and (min-width: 760px) and (orientation: landscape) {
  .baner .middle .states {
    transform: translate(0, -15%);
    width: 50%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

/*# sourceMappingURL=main.css.map */
